/send_receive_pipe
/reader
/writer
/receive_fifo
/send_fifo
/receive_net_dgram_socket
/send_net_dgram_socket
/receive_net_stream_socket
/send_net_stream_socket
/receive_unix_socket
/send_unix_socket
/socket_channel
/fifo_channel
