
title = "gitleaks config"

[extend]
# useDefault will extend the base configuration with the default gitleaks config:
# https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml
useDefault = true

[allowlist]
description = "allow ssh private key for the os-cloud task"
paths = [
  '''content/chapters/app-interact/lab/solution/os-cloud/keys/ssh_key''',
  '''content/chapters/app-interact/lab/support/os-cloud/keys/ssh_key'''
]
